@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$gap: 10px;
$background-color-body: #d9d9d9;
$background-color-nav: #a6a6a6;
$hover-transform: scale(1,2);

.menu {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    height: 80px;
    background-color: $background-color-nav;
    border-bottom: 2px solid;
    width: 100%;

    div {
        margin-top: 5px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}

.menu--item {
    display: flex;
}

.menu--item {
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    transition: all 80ms ease;
    line-height: 1rem;

    a {
        font-size: 24px;
        padding: 1ch;
        text-decoration: none;

        &:hover {
            color: rgba(255, 255, 255, 0.87);
        }

        & img {
            width: 60px;
        }
    }

    .home {
        width: 123px;
        cursor: pointer;

        &:hover {
            transform: $hover-transform;
        }
    }
    
    .to-user {
        font-size: 5px;
    }

    .user--avatar--bar {
        padding: 12px 0;
        border: 2px solid;
        border-radius: 45px;
        background-color: #f2f2f2;
        margin-left: 500px;
        margin-right: $gap;
        & img {
            width: 38px;
        }
    }

    .fa-solid {
        font-size: 30px;
        cursor: pointer;
        padding-left: 15px;
    }
}