$gap: 10px;

.feature-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: start;

    & li {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        padding: 10px;
        list-style-type: none;
        
        & strong, i {
            font-size: 18px;
            text-align: center;
        }
        & div {
            justify-content: center;
            align-items: center;
            display: flex;
            & img {
                margin: 2*$gap;
                padding: 2*$gap;
            }
        }
        
    }
}