@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.wrapper--intro {
    background: white;
    z-index: 1000;
    border-radius: 10px;
    padding: 30px;

    .user-intro {
        & li {
            font-size: 20px;
        }
    }
}