@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.wrapper--intro {
    background: rgba(255, 255, 255, 0.2);
    z-index: 1000;
    border-radius: 30px;
    margin: 50px;
    padding: 30px;
    max-width: 1000px;
    min-height: 500px;
}

.taskbar {
    align-items: center;
    display: flex;
    padding: 25px 0;
}

.user-avatar {
    width: 60px;
    padding-right: 15px;
}

.user-avatar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.taskbar a {
    margin-left: 70%;
}

.exit-btn {
    color: white;
    background-color: black;
    margin-left: 70%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 1000;
    padding: 0 10px;
}

.exit-btn:hover {
    transform: scale(1.2);
    background-color: #333333;
}

.wrapper--intro b, p {
    font-size: 22px;
}

.wrapper--intro a:hover {
    color: red;
}