.about-me-container {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.about-me-title {
    padding-bottom: 3px;
    border-style: solid;
    border-width: 0 0 2px;
    margin-bottom: 10px;
    display: flex;
}

.about-me-text-area {
    width: 100%;
    resize: none;
    height: 100%;
    box-sizing: border-box; 
    padding: 5px;
}

.about-me-text-area::-webkit-scrollbar {
    display: none;
}

.non-editable {
    border: none; 
    background-color: transparent; 
    resize: none; 
    font-family: inherit; 
    font-size: 16px; 
    color: #333; 
    padding: 0; 
    outline: none;
}


.about-me-buttons {
    margin-left: auto;
}