.event-card {
    display: flex;

    & img {
        background-color: white;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 20px;
    }

    .event-title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .number-of-user {
            float: right;
        }
    }

    .list-card {
        justify-content: center;
        align-items: center;
        display: grid;
    }

    .event-card-list {
        scrollbar-width: none;
        left: 0;
        right: 0;
        min-width: 0;
        overflow-y: scroll;
        height: 100vh;
    }
}