@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



.board--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-name {
    text-align: left;
    align-self: flex-start;
}

.taskbar {
    height: 100px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    .search-bar-container {
        display: flex;
        height: 100%;
        width: 100%;
        
        align-items: center;
        justify-content: space-evenly;
    }

    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    justify-content: center;

    .board--item {
        height: 100%;
        
        
        margin-left: 20px;
        .board--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
        }

        input {
            padding: 5px 15px;
            font-size: large;
            border: none;
            outline: none;
            border: none;
            appearance: none;
            background-color: whitesmoke
        }

        .search, .event-time-filter {
            border: 1px solid black;
            border-radius: 10px;
        }

        .search:focus {
            background-color: aliceblue;
            border: solid;
            border-width: 0 0 1px 0;
        }

        .event-time-filter:focus {
            background-color: aliceblue;
            border: solid;
            border-width: 0 0 1px 0;
        }


        .fa-solid {
            font-size: 25px;
            cursor: pointer;
            &:hover {
                color: green;
            }
        }



        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            margin-left: 10px;

            &:hover {
                color: white;
            }
        }



        .confirm-button {
            margin-left: auto;
            
            padding: 5px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            border-color: transparent;
            background-color: whitesmoke;

            border: 1px solid black;
            cursor: pointer;
            &:hover {
                background-color: aliceblue;
            }
        }

        .confirm-button:active {
            background-color: rgb(208, 233, 255);
        }
    }
}