.event-card {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.event-name {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.icon {
    margin-left: 20px;
}

.event-info {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: row;
    .event-text {
        font-weight: bold;
        margin-left: 5px;
        word-wrap: break-word;
    }
    align-items: center;
}

.event-participants {
    margin-bottom: 5px;
}

