.event-list {
    width: 100%;
    margin: 20px;
    overflow-y: auto;
}

.event-card {
    border-radius: 10px;
    display: flex;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.info {
    right: 0;
    min-width: 0;
    padding: 10px;
    padding-left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
}
