.host-event-form {
    background-color: white;
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.host-event-form .event-name {
    justify-content: left;
}

.host-event-form .start-time, .end-time {
    justify-content: left;
}

.host-event-form .event-time {
    justify-content: left;
}

.host-event-form .start-time, .end-time {
    margin-right: 50px;
}

.host-event-form .event-image {
    width: 150px;
    height: 150px;
    background-color: pink;
}

.host-event-form .form-name {
    text-align: center;
}

.host-event-form .event-description {
    resize: none;
    width: 100%;
    height: 200%;
    padding: 10px;
}

.host-event-form .create-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 50px;
}

.host-event-form .create-button input {
    width: 200px;
}


