.host-event {
    margin-top: 5px;
    height: 100%;
    display: flex;
}

.host-event .main-content {
    background-color:bisque;
    margin-left: auto;
    width: 100%;
}

.host-event .left-column {
    width: 600px;
}

.host-event .event-list {
    margin: 5px;
    margin-right: 0px;
    padding-right: 5px;
}

@media screen and (max-width: 600px) {
    .host-event .left-column {
        display: none;
    }
}