.three-column-layout {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

aside {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 25%;
    background-color: pink;
}

.center-column {
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    width: 50%;
    justify-content: center;
}

.left-column {
    
}

.right-column {
    
}


