$hover-transform: scale(1.2);
$gap: 10px;

.login-menu {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 20px 6px rgba(0, 0, 0, 0.2);


    & div {
        align-items: center;
        display: flex;
        margin: 10px 0 10px 10px;
        width: 100%;
    }

    .menu-img-button {
        display: flex;
        .logo-image {
            height: 70px;
        }
    }

    .menu-text-button {
        justify-content: end;

        .menu--button {
            & button {
                background-color: transparent;
                border-color: transparent;
                color: white;
                cursor: pointer;
                font-size: 24px;
                font-weight: 700;
                padding: 5px 20px;

                &:hover {
                    color: rgba(0, 250, 255, 0.8);
                    text-decoration-line: underline;
                }
            }
        }

        
    }


    .menu--item {
        align-items: center;
        justify-content: space-between;
        transition: all 80ms ease;
        line-height: 1rem;
        display: flex;

        .logo-image {
            width: 60px;
        }

        .sec-logo-image {
            width: 120px;
        }
    }

    .menu-login-button {
        justify-content: end;
        max-width: 300px;
        .signin-button {
            font-size: 24px;
            font-weight: 700;
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-right: 5*$gap;
            border-radius: 45px;
            background-color: white;
            width: 200px;
            height: 80%;
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 8px 0;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}