$gap: 10px;
$font-size-button: 24px;
$background: #fff;
$radius: 10px;
$weight: 600;
$pad: 5px;


.host-event-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background;
    padding: 2*$gap;
    border-radius: $radius;
    min-width: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    
    .host-form-component-container {
        display: flex;
        align-items: center;
        margin-bottom: 2*$gap;
        min-width: none;
        width: 100%;

        .host-form-button {
            padding: $pad;
            font-size: $font-size-button;
            margin: 0 $gap;
            border-radius: $radius;
            font-weight: $weight;
            cursor: pointer;

            &:hover {
                background-color:$background;
            }

            
        }
    }   

    .host-form-component-container span {
        width: 100%;
    }



    .form-event-description {
        resize: none;
    }
}

.text-box {
    border: 1px solid black;
    appearance: none;
    outline: none;
    padding: $gap;
    background-color: whitesmoke;
    margin-bottom: 0 0 $gap;
    min-width: none;
    border-radius: $radius;

    
} 

.text-box:focus {
    background-color: aliceblue;
    border: solid;
    border-width: 0 0 1px 0;
}

.form-event-description {
    width: 100%;
}

.form-event-name {
    width: 250px;
}

.form-event-location {

}

.form-event-capacity {
    width: 120px;
}

.form-event-time {

}

.form-event-button {
    justify-content: center;
}


@media screen and (max-width: 750px) {
    // .event-list-container {
    //     display: none;
    // }

    .host-page-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .host-event-form {
        flex-direction: column;
    }

    .host-form-component-container {
        flex-direction: column;
    }
}
