.header {
    height: 100px;
    background-image: linear-gradient(0, rgb(255, 255, 255), rgb(140, 140, 140));
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
}

.header__navbar-item {
    display: inline-block;
}

.menu_img {
    width: 50px;
}

.menu_img--textlogo {
    width: 70px;
}

.header__navbar-item-link {
    text-decoration: none;
    color: blue;
}

.header__navbar-item {
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

#header__navbar-item--textlogo {
    margin-left: -30px;
    margin-bottom: -18px;
}

.header__navbar-item--option {
    display: inline-block;
    margin-bottom: -24px;
    font-size: 17px;
}