$gap: 10px;
$background-color-body: #111418;
$background-color-nav: #a6a6a6;
$hover-transform: scale(1, 2);

.home-page {
    align-items: center;
    justify-content: center;
    min-height: 792px;
    color: white;

    .home-page-background {
        z-index: -1;
        background-size: cover;
        background-position: 50%;
        pointer-events: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-image: url("../../components/assets/images/background.jpg");
    }

    .get-start-items {
        z-index: 500;
        height: 792px;
        padding-top: 130px;
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0.4);
        align-items: center;
        justify-content: center;

        .get-start-welcome,
        .get-start-button {
            justify-content: center;
            display: flex;
        }

        .get-start-welcome {
            padding-top: 10%;
            font-size: 60px;
            color: white;
        }

        .get-start-button {
            // background-color: #0000;
            margin-top: 20px;

            & button {
                padding: 12px 18px;
                font-size: 20px;
                font-weight: 800;
                color: white;
                border-radius: 40px;
                cursor: pointer;
                background: linear-gradient(135deg, #FD267A, #FF7854);
                border: none;
                transition: all 0.3s ease;

                &:hover {
                    opacity: 80%;
                }
            }
        }
    }

    .about-us {
        z-index: 500;
        display: flex;
        padding: 100px;

        & p {
            padding-left: $gap;
            font-size: 16px;
        }

        & h2 {
            margin-top: 10px;
        }

        .about-us-pic {
            padding: 100px;

            & img {
                width: 180%;
            }
        }
    }

    .contact-us {
        z-index: 500;
        padding: 0 100px 50px 100px;

        ul {
            display: flex;

            & a {
                list-style-type: none;
                font-size: 40px;
                padding: 10px;
            }
        }
    }
}



.about-us,
.contact-us,
.donate-us {
    justify-content: center;
    align-items: center;
    background-color: #111418;
}