.host-page-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.event-list-container {
    height: 100%;
    flex: 30;
    padding: 20px;
}

.host-form-container {
    height: 100%;
    flex: 60;
    padding: 20px;
}
