.event-view-option-bar {
    height: 40px;
    background-color: aliceblue;
}

.event-view-button {
    cursor: pointer;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: aliceblue;
}

.event-view-button:hover {
    background-color: rgb(219, 219, 219);
}

.manage-event-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}   

.event-view {
    flex: 1;
    padding: 20px 20px 0 20px;
}

.calendar-view {
    flex: 1;
}
