.search-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(217, 217, 217);
    flex: 2;

    .search-result-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .event-list-container-wrapper {
            flex: 2;
            padding: 50px 20px 0px 20px;
        }

        .search-event-info-view {
            flex: 3;
            padding: 50px 20px 50px 20px;
        }
    }

    .event-info-wrapper {
        
        height: 80%;
        flex: 3;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 50px;
        margin-bottom: auto;
    }

}

.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}


