* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(169, 116, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
    
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

    &:hover {
        background-color: aqua;
        cursor: pointer;
    }
}
nav li:first-child {
    margin-right: auto;
    
}
nav .home {
    max-width: 50px;
    max-height: 50px;
}

