.user-link {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    .fa-brands {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 36px;
        padding: 10px;
        margin-bottom: 5px;

        &:hover {
            transform: scale(1.2);
        }
    }

    & a {
        align-items: center;
        justify-content: center;

        & label {
            padding-top: 20px;
            font-size: 20px;
        }

        & b {
            font-size: 20px;
        }
    }
}

.contact-line {
    margin-bottom: 20px;
}

.contact-line-name {
    display: flex;
}

.edit-contact-line-button {
    margin-left: auto;
}

.contact-links-title {
    padding-bottom: 3px;
    border-style: solid;
    border-width: 0 0 2px;
    margin-bottom: 10px;
}