@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    color: #333;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}