@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    color: #333;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    background-color: blue;
}
/*Navigation bar*/
.nav-logo {
    margin: 0px;
    height: 100%;
    cursor: pointer;
    margin-left: 30px;
}

.account-photo {
    margin-right: 10px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.flex-item {
    display: flex;
    align-content: center;
    height: 100%;
    flex: 1;
}

.nav-bar {
    top: 0;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    padding: 0px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.nav-bar a, ul {
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
}

.nav-links {
    height: 100%;
    align-items: center;
    display: flex;
}

.nav-links li {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-links a {
    align-self: center;
}

.nav-links li:hover {
    background-color: rgb(240, 240, 240);
}

.account {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

.account:hover {
    cursor: pointer ;
}

/*Body layout*/
.border-layout {
    display: flex;
    justify-content: space-between;
}

.event-card-list {
    scrollbar-width: none;
    left: 0;
    right: 0;
    min-width: 0;
    overflow-y: scroll;
    height: 100vh;
}

.aside {
    flex-grow: 1;
}

.right-aside {

}

.page-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    left: 0;
    right: 0;
    min-width: 0;
}

.page-content {
    margin-top: 70px;
}

/*Filter bar*/
.filter-bar {
    width: 100%;
    background-color: pink;
}

/*Event card*/
.event-card {
    margin: 20px;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    min-width: 0px;
    left: 0;
    right: 0;
    height: 180px;
    align-items: center;
    border-radius: 10px;
}

.event-card-info {
    right: 0;
    min-width: 0;
    padding: 10px;
    padding-left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}   

.event-card-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

.event-title {
    display: flex;
    align-items: baseline ;
    justify-content: space-between;
}

.event-card h2 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.number-of-user {
    
}

.event-card-button {
    margin-left: auto;
}

/*Only show event cards when shrink*/
@media screen and (max-width: 1000px) {
    .left-aside {
        display: none;
    }

    .right-aside {
        display: none;
    }

    .content {
        display: 100%;
    }
    .border-layout {
        justify-content: center;
    }
}



@media screen and (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
    }
    
    .page-content {
        margin-top: 200px;
    }
    .nav-logo {
        height: 60px;
        margin: 0;
    }

    .nav-bar {
        height: 150px;
        align-items: center;
    }

    .account {
        margin: 0px;
        order: 1;
    }

    .nav-links {
        width: 100%;
        order: 2;
        justify-content:space-evenly;
    }

    .nav-links li {
        min-width: 100px;
        flex-grow: 1;
    }
}   

@media screen and (max-width: 450px) {
    .event-card-photo {
        display: none;
    }

    .event-card-info {
        padding-top: 20px;
        margin: 30px;
    }
}   








