.memmber-list {
    height: 100%;
}

.member-list-card {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}

.member-list-card:hover {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}


