@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$gap: 10px;
$background-color-body: #d9d9d9;
$background-color-nav: #a6a6a6;
$hover-transform: scale(1,2);

.board--item {
    display: flex;

}

.taskbar {
    
    margin: 20px 130px 0px 130px;
    & div {
        display: flex;
    }

    background-color: $background-color-nav;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    justify-content: center;

    .board--item {
        padding: 15px;

        .board--icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fa-solid {
            font-size: 25px;
            cursor: pointer;
            &:hover {
                color: green;
            }
        }

        input {
            font-size: large;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            margin-left: 14px;
            padding: 0 5px;
            background-color: rgba(255, 255, 255, 0.6);
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            margin-left: 10px;

            &:hover {
                color: white;
            }
        }

        .search-btn {
            position: relative;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-left: 18px;
        }

        .search {
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}