@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



.board--item {
    display: flex;

}

.taskbar {
    height: 8%;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    .search-bar-container {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }

    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    justify-content: center;

    .board--item {
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        .board--icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fa-solid {
            font-size: 25px;
            cursor: pointer;
            &:hover {
                color: green;
            }
        }

        input {
            font-size: large;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            margin-left: 14px;
            padding: 0 5px;
            background-color: rgba(255, 255, 255, 0.6);
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            margin-left: 10px;

            &:hover {
                color: white;
            }
        }

        .search-btn {
            position: relative;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-left: 18px;
        }

        .search {
            padding: 5px 10px;
            border-radius: 10px;
        }

        .confirm-button {
            height: 80%;
            width: 50%;
            border-radius: 30px;
            font-size: 20px;
            font-weight: bold;
            color: rgb(253, 74, 105);
            border-color: transparent;
            background-color: rgb(180, 180, 180);
            &:hover {
                background-color: rgba(180, 180, 180, 0.7);
            }
        }
    }
}