.donate-us {
    padding: 0 100px 50px 100px;

    .qr-code-donate {
        justify-content: center;
        display: flex;
        align-items: center;

        .qr-code {
            grid-template-rows: 1fr 1fr;

            p {
                text-align: center;
            }
        }

        img {
            width: 180px;
            margin: 10px 50px;
        }
    }
    
    h1 {
        .fa-solid {
            font-size: 30px;
            color: chocolate;
        }
    }



    p {
        a {
            color: white;
            text-decoration-line: none;
            cursor: pointer;

            &:hover {
                color: red;
                text-decoration-line: underline;
            }
        }
    }
}