@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$gap: 10px;
$button-gap: 5px;
$button-width: 60px;
$button-active: rgb(208, 233, 255);
$button-hover: aliceblue;

.user-profile-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-container {
    width: 70%;
    margin-top: 2*$gap;
}

.detailed-information-container {
    display: flex;
    height: 100vh;
}

.left-info-column {
    padding-right: 2*$gap;
    flex: 60;
}

.right-info-column {
    flex: 40;
    margin-right: auto;
    display: flex;
    flex-direction: column;   
}

.profile-hosted-event-list-container {
    overflow: hidden;
    height: 100vh;
    padding-bottom: 400px;
}

.buttons-row {
    margin-left: auto;

    .info-button, .contact-button, .about-me-button {
        padding: $button-gap;
        border-radius: $button-gap;
        margin: 0 $button-gap;
        width: $button-width;
        cursor: pointer;

        &:hover {
            background-color: $button-hover;
        }

        &:active {
            background-color: $button-active;
        }

    }
}