@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.profile-container {
    display: flex;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
.profile {
    box-sizing: border-box;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    border: 0 1px solid #000;
    grid-template-columns: 1fr 1fr;
}

.nav-item {
    display: flex;
}

.nav-item {
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    transition: all 80ms ease;
    line-height: 1rem;

    a {
        font-size: 24px;
        padding: 1ch;

        &:hover {
            color: rgba(255, 255, 255, 0.87);
        }
    }

    .home {
        width: 123px;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    .to-user {
        font-size: 5px;
    }

    .fa-solid {
        font-size: 50px;
        cursor: pointer;
        padding-left: 15px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.left-profile {
    margin-right: 30px;
    float: left;
}

.right-profile {
    float: right;
    margin-left: 30px;

    & .ev {
        font-size: 30px;
        padding-top: 30px;
    }
}

.user-title {
    font-size: 24px;
    font-weight: 700;
    & li {
        margin: 10px 0;
    }
}