@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.profile {
    box-sizing: border-box;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    border: 0 1px solid #000;
    grid-template-columns: 1fr 1fr;
}

.nav-item {
    display: flex;
}

.nav-item {
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    transition: all 80ms ease;
    line-height: 1rem;

    a {
        font-size: 24px;
        padding: 1ch;

        &:hover {
            color: rgba(255, 255, 255, 0.87);
        }
    }

    .home {
        width: 123px;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    .to-user {
        font-size: 5px;
    }

    // .user-avatar {
    //     padding: 10px;
    //     border: 2px solid;
    //     border-radius: 60px;
    //     background-color: #f2f2f2;
    //     margin-left: 500px;

    //     & img {
    //         width: 70px;
    //     }
    // }

    .fa-solid {
        font-size: 50px;
        cursor: pointer;
        padding-left: 15px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.left-profile {
    margin-right: 30px;
    float: left;

    

    & li {
        padding-bottom: 10px;
    }

    .user-link {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;

        .fa-brands {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 36px;
            padding: 10px;
            margin-bottom: 5px;

            &:hover {
                transform: scale(1.2);
            }
        }

        & a {
            align-items: center;
            justify-content: center;

            & label {
                float: inline-end;
                padding-top: 20px;
                font-size: 20px;
            }

            & b {
                padding-left: 15px;
                font-size: 20px;
            }
        }
    }
}

.right-profile {
    float: right;
    margin-left: 30px;

    & .user-profile {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;

        & a {
            font-size: 12px;
        }

        & strong {
            font-size: 20px;
        }

        .input-box {
            padding: 20px 0;
            border-bottom: 1px solid;

            & input {
                font-size: 18px;
                border-radius: 5px;
                background: none;
                border: none;
                margin-left: 30px;
                height: 30px;
                width: 240px;
                padding-left: 10px;
            }

            & .fa-solid {
                padding-left: 50px;
                font-size: 20px;

                &:hover {
                    color: red;
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            & b {
                padding-top: 5px;
                float: inline-end;
                font-size: 14px;
            }

            .datebirth {
                width: auto;
            }
        }

        .submit-btn {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;

            .btn {
                margin: 20px 20px 0;
                padding: 5px 50px;
                font-size: 24px;
                border-radius: 10px;
                font-weight: 600;

                &:hover {
                    background-color: rgba(212, 212, 212, 0.9);
                    color: green
                }

                & .fa-solid {
                    margin-left: 10px;
                }
            }
        }
    }

    & .ev {
        font-size: 30px;
        padding-top: 30px;
    }

    .events {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .manager,
        .participant {
            margin: 10px 0;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
        }

        .manager {
            margin-right: 10px;
        }

        .participant {
            margin-left: 10px;
        }
    }

    .achievement {
        margin: 10px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
    }
}