.user-infomation {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;

    .avatar {
        display: flex;
        align-items: center;
        box-sizing: border-box;

        & b {
            font-size: 24px;
            margin-left: 15px;
        }

        .to-intro {
            position:relative;
            font-size: 24px;
            padding: 5px 10px;
            border-radius: 15px;
            margin-right: 10px;
            margin-left: 160%;
            font-weight: 600;

            &:hover {
                background-color:#d9d9d9;
                color: green;
                
            }
        }

        .fa-solid {
            margin-left: 10px;
            font-size: 18px;
        }
    }

    .infomation {
        display: flex;
        flex-direction: column;
    }

    & img {
        width: 100px;
        
    }
}

.logout-button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 10%;
    .logout-button {
        width: 100%;
        height: 40%;
        border-radius: 5px;
        border-width: 1px;
        border-color: black;
    }
}